[flake8]
select = ANN,B,B9,C,D,DAR,E,F,N,RST,S,W
ignore = E203,E501,W503
max-line-length = 80
max-complexity = 10
import-order-style = google
docstring-convention = google
per-file-ignores =
    tests/*:S101,ANN
    noxfile.py:ANN
